attrs             # via pytest
certifi        # via requests
chardet==3.0.4            # via requests
django
idna                 # via requests
importlib-metadata  # via pluggy, pytest
more-itertools     # via pytest
packaging           # via pytest
pillow
pluggy==0.13.1            # via pytest
py                # via pytest
pyparsing          # via packaging
pytest-django
pytest             # via pytest-django
pytz              # via django
requests
six               # via packaging
sorl-thumbnail==12.6.3
sqlparse         # via django
urllib3           # via requests
wcwidth            # via pytest
zipp               # via importlib-metadata
